.filterBtn {
  border: none;
  background-color: var(--neutral-0);
  font-size: 1rem;
  font-family: var(--font-family-default);
  padding: 10px 20px;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0);
  border-radius: 50px;
  transition: 0.3s ease;
}

.filterBtn:hover {
  cursor: pointer;
  background-color: var(--neutral-100);
}

.active {
  background-color: var(--red-50);
  color: white;
}

.active:hover {
  background-color: var(--red-70);
}

.dark {
  background-color: var(--neutral-700);
  color: var(--neutral-0);
  box-shadow: 0px 0px 1.5px 0px rgba(255, 255, 255);
}

.dark:hover {
  background-color: var(--neutral-600);
}

.dark.active {
  background-color: var(--red-50);
  color: var(--neutral-900);
}

.dark.active:hover {
  background-color: var(--red-70);
}
