.header {
  padding: 10px;
  background-color: var(--neutral-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -6px rgba(0, 0, 0);
  margin-bottom: 50px;
  transition: 0.3s ease;
}

.headerButton {
  padding: 10px;
  width: 46px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 10px;
  background-color: var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.headerButton:hover {
  cursor: pointer;
  background-color: var(--neutral-300);
}

/* DARK MODE */

.header.dark {
  background-color: var(--neutral-800);
  box-shadow: 0px 0px 1.5px 0px rgba(255, 255, 255);
}

.headerButton.dark {
  background-color: var(--neutral-700);
}

.headerButton.dark:hover {
  background-color: var(--neutral-600);
}
