.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.dark {
  color: var(--neutral-0);
}
